<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <title>Quản lý Simbox</title>
    <link th:href="@{/css/simbox.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/js/simbox.js}"></script>
    <style>
        .container-fluid {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .row {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        .btn-action {
            border: none;
            border-radius: 10px;
            background-color: #fff;
        }

    </style>
</head>
<body>
<div class="content">
    <section class="bg-light h-100" layout:fragment="content_body">
        <div class="navbar navbar-expand-md navbar-light navbar-static p-0"
             style="justify-content: center">
            <span class="pt-2 pb-2 font-weight-bold" style="font-size: 17px; color: black">Quản lý Simbox</span>
        </div>
        <div class="container-fluid row" style="height: 100vh;">
            <div class="col-sm-12 col-md-2 p-0" style="background-color: #f3f3f3; box-shadow: -5px 0 5px -5px #333;">
                <div class="card-header header-elements-inline">
                    <h6 class="card-title font-weight-bold">Tổng quan</h6>
                </div>
                <div class="card-body" style="padding: 0 0.75rem 0 0.75rem">
                    <ul class="media-list">
                        <li class="media align-items-center">
                            <div class="mr-1">
                                <i class="fas fa-sim-card"></i>
                            </div>
                            <div class="media-body">
                                <div>Số SIM đang hoạt động</div>
                            </div>
                            <div class="ml-1 align-self-center">
                                <span class="font-weight-bold" id="span_sim_hoat_dong"></span>
                            </div>
                        </li>
                        <li class="media align-items-center">
                            <div class="mr-1">
                                <i class="fas fa-sd-card"></i>
                            </div>
                            <div class="media-body">
                                <div>Số khe SIM trống</div>
                            </div>
                            <div class="ml-1 align-self-center">
                                <span class="font-weight-bold" id="span_khe_sim_trong"></span>
                            </div>
                        </li>
                        <li class="media align-items-center">
                            <div class="mr-1">
                                <i class="fas fa-coins"></i>
                            </div>
                            <div class="media-body">
                                <div>Số SIM sắp hết tiền</div>
                            </div>
                            <div class="ml-1 align-self-center">
                                <span class="font-weight-bold" id="span_sim_sap_het_tien"></span>
                            </div>
                        </li>
                        <li class="media align-items-center">
                            <div class="mr-1">
                                <i class="fas fa-dollar-sign"></i>
                            </div>
                            <div class="media-body">
                                <div>Số SIM hết tiền</div>
                            </div>
                            <div class="ml-1 align-self-center">
                                <span class="font-weight-bold" id="span_sim_het_tien"></span>
                            </div>
                        </li>
                        <li class="media align-items-center">
                            <div class="mr-1">
                                <i class="fas fa-stopwatch"></i>
                            </div>
                            <div class="media-body">
                                <div>Số SIM sắp hết hạn</div>
                            </div>
                            <div class="ml-1 align-self-center">
                                <span class="font-weight-bold" id="span_sim_sap_het_han"></span>
                            </div>
                        </li>
                        <li class="media align-items-center">
                            <div class="mr-1">
                                <i class="far fa-calendar"></i>
                            </div>
                            <div class="media-body">
                                <div>Số SIM hết hạn</div>
                            </div>
                            <div class="ml-1 align-self-center">
                                <span class="font-weight-bold" id="span_sim_het_han"></span>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm-12 col-md-8 p-0">
                <div class="card-header header-elements-inline">
                    <h6 class="card-title font-weight-bold">
                        <i class="fa fa-table"></i>
                        <span class="ml-1">Danh sách SIM</span>
                        <span class="ml-2 p-1" style="background-color: #ECF0FF;
                            text-align: center; color: #5A72E7; border-radius: 5px" id="span_tong_so_sim"></span>
                    </h6>
                    <span class="p-1" style="background-color: #ECF0FF;
                            text-align: center; color: #5A72E7; border-radius: 5px; visibility: hidden">
                        <div class="list-icons">
                            <div class="dropdown">
								<button class="list-icons-item dropdown-toggle caret-0" style="border: none"
                                        data-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-th-large" style="color: #5A72E7;"></i>
                                </button>
                                <div id="grpChkBox" class="dropdown-menu dropdown-menu-right " x-placement="bottom-end"
                                     style="position: absolute;
                                will-change: transform; top: 0px; left: 0px; transform: translate3d(16px, 19px, 0px);">
                                    <div class="dropdown-item">
                                        <input type="checkbox" name="stt">
                                        <span class="ml-3">STT</span>
                                    </div>
                                     <div class="dropdown-item">
                                        <input type="checkbox" name="simID">
                                        <span class="ml-3">SIM ID</span>
                                    </div>
                                     <div class="dropdown-item">
                                        <input type="checkbox" name="nhaMang">
                                        <span class="ml-3">Nhà mạng</span>
                                    </div>
                                     <div class="dropdown-item">
                                        <input type="checkbox" name="taiKhoanChinh">
                                        <span class="ml-3">Tài khoản chính</span>
                                    </div>
                                     <div class="dropdown-item">
                                        <input type="checkbox" name="taiKhoanPhu">
                                        <span class="ml-3">Tài khoản phụ</span>
                                    </div>
                                     <div class="dropdown-item">
                                        <input type="checkbox" name="ngayHetHan">
                                        <span class="ml-3">Ngày hết hạn</span>
                                    </div>
                                     <div class="dropdown-item">
                                        <input type="checkbox" name="tinHieu">
                                        <span class="ml-3">Tín hiệu</span>
                                    </div>
                                     <div class="dropdown-item">
                                        <input type="checkbox" name="tinNhan">
                                        <span class="ml-3">Tin nhắn</span>
                                    </div>
                                     <div class="dropdown-item" name="comm">
                                        <input type="checkbox">
                                        <span class="ml-3">Comm</span>
                                    </div>
                                     <div class="dropdown-item">
                                        <input type="checkbox" name="hanhDong">
                                        <span class="ml-3">Hành động</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
                <div class="card-body pl-2 pr-2">
                    <div class="table-responsive">
                        <table id="table_sim_box" class="table table-bordered text-center">
                            <thead style="background: #e7e7e7">
                            <tr class="text-center">
                                <th class="stt">STT</th>
                                <th class="simID">SIM ID</th>
                                <th class="nhaMang">Nhà mạng</th>
                                <th class="taiKhoanChinh">Tài khoản chính</th>
                                <th class="taiKhoanPhu">Tài khoản phụ</th>
                                <th class="ngayHetHan">Ngày hết hạn</th>
                                <th class="tinHieu">Tín hiệu</th>
                                <th class="tinNhan" onclick="showMessageList('')">Tin nhắn</th>
                                <th class="comm">Comm</th>
                                <th class="hanhDong">Hành động</th>
                            </tr>
                            </thead>
                            <tbody id="bang_sim_box"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-2" style="background-color: #f3f3f3">
                <div class="card-header header-elements-inline">
                    <h6 class="card-title font-weight-bold">
                        <i class="fas fa-filter"></i>
                        <span class="ml-1">Bộ lọc</span>
                    </h6>
                </div>
                <div class="card-body p-0">
                    <ul class="media-list">
                        <li class="align-items-center">
                            <div>
                                <span>Tìm kiếm theo</span>
                                <div class="mt-1">
                                    <select style="width: 95%; height: 27px" id="selectSearch"
                                            class="selectSearch filterInput" name="selectSearch"
                                            onchange="getValueSelect()">
                                        <option value="0" selected disabled>Tất cả</option>
                                        <option value="1">SIM ID</option>
                                        <option value="2">COMM</option>
                                    </select>
                                </div>
                            </div>
                            <div></div>
                            <div class="mt-2">
                                <div id="search_sim_id" class="div-select">
                                    <span>Nhập SIM ID</span>
                                    <input id="inputSIMID" class="mt-1 filterInput" style="width: 95%; height: 27px"
                                           onchange="timKiem()"
                                           type="number">
                                </div>
                                <div id="search_comm" class="div-select">
                                    <span>Chọn Comm</span>
                                    <input class="mt-1 filterInput" style="width: 95%; height: 27px"
                                           onchange="timKiem()"
                                           id="inputComm">
                                </div>
                                <div id="search_input">
                                    <span>Nhập thông tin</span>
                                    <input class="mt-1 filterInput"
                                           style="width: 95%; height: 27px; background-color: #f9f9f9" disabled>
                                </div>
                            </div>
                        </li>
                        <!--                        <li class="mt-3">-->
                        <!--                            <button class="btn btn-group bg-blue text-white" onclick="timKiem()" id="btn_search"-->
                        <!--                                    style="width: 100%; justify-content: center; align-items: center; padding: 4px 8px">-->
                        <!--                                Tìm kiếm-->
                        <!--                                <i class="fa fa-search ml-2"></i>-->
                        <!--                            </button>-->
                        <!--                        </li>-->
                        <li class="mt-3">
                                <span class="font-weight-bold">Loại mạng
                                    <i class="fas fa-caret-down"></i>
                                </span>
                            <div class="mt-1">
                                <input type="checkbox" id="loai_mang_1" checked onchange="timKiem()">
                                <label for="loai_mang_1" class="ml-1">VNM and VIETTEL</label>
                            </div>
                            <div>
                                <input type="checkbox" id="loai_mang_2" checked onchange="timKiem()">
                                <label for="loai_mang_2" class="ml-1">VN VINAPHONE</label>
                            </div>
                            <div>
                                <input type="checkbox" id="loai_mang_3" checked onchange="timKiem()">
                                <label for="loai_mang_3" class="ml-1">VN MOBIFONE</label>
                            </div>
                        </li>
                        <li class="mt-3">
                            <div>
                                <span class="font-weight-bold">Số dư tài khoản<i
                                        class="fas fa-caret-down ml-1"></i></span>
                                <div class="mt-1">
                                    <input type="checkbox" id="tien_lon_hon" onchange="removeDisabled()">
                                    <span class="pl-1">Lớn hơn</span>
                                    <input class="ml-1 filterInput"
                                           style="width: 55%; height: 27px; background-color: #f9f9f9" type="number"
                                           id="so_tien_lon_hon" onchange="timKiem()" disabled>
                                </div>
                                <div class="mt-1">
                                    <input type="checkbox" id="tien_nho_hon" onchange="removeDisabled()">
                                    <span class="pl-1">Nhỏ hơn</span>
                                    <input class="ml-1 filterInput"
                                           style="width: 55%; height: 27px; background-color: #f9f9f9" type="number"
                                           id="so_tien_nho_hon" onchange="timKiem()" disabled>
                                </div>
                            </div>
                        </li>
                        <li class="mt-3">
                            <span class="font-weight-bold">Ngày hết hạn<i class="fas fa-caret-down ml-1"></i></span>
                            <div class="mt-1">
                                <input type="checkbox" id="ngay_ket_thuc" onchange="removeDisabled()">
                                <span class="pl-1">Lớn hơn</span>
                                <input class="ml-1 dateInput" id="gia_tri_ngay_ket_thuc"
                                       onchange="timKiem()"
                                       type="text" disabled
                                       readonly style="width: 55%; height: 27px; background-color: #f9f9f9">
                            </div>
                            <div class="mt-1">
                                <input type="checkbox" id="ngay_bat_dau" onchange="removeDisabled()">
                                <span class="pl-1">Nhỏ hơn</span>
                                <input class="ml-1 dateInput" id="gia_tri_ngay_bat_dau"
                                       onchange="timKiem()"
                                       type="text" disabled
                                       readonly style="width: 55%; height: 27px; background-color: #f9f9f9">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal fade" id="messageSIM_popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 800px">
                    <div class="modal-header p-2 pl-3" style="background: #ebebeb">
                        <h5 class="modal-title font-weight-semibold" id="modal_add_edit_title">Danh sách tin nhắn</h5>
                        <button type="button" class="close text-danger" data-dismiss="modal">×</button>
                    </div>
                    <form id="form_add_edit_user">
                        <div class="modal-body">
                            <div class="table-responsive">
                                <table class="table table-bordered text-center">
                                    <thead style=" background: aliceblue;">
                                    <tr class="text-center">
                                        <th style=" width: 6%;">STT</th>
                                        <th style=" width: 8%;">ID</th>
                                        <th style=" width: 16%;">Trạng thái</th>
                                        <th style="width: 20%;">Số điện thoại</th>
                                        <th style=" width: 20%;">Thời gian</th>
                                        <th>Nội dung</th>
                                    </tr>
                                    </thead>
                                    <tbody id="message_sim_box_table"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="form_close" class="btn btn-outline-secondary mr-1 float-right"
                                     style="padding: 5px 10px; border: none"
                                    data-dismiss="modal">Đóng
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>