<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template}">
<head>
    <meta charset="UTF-8">
    <title>Thống kê</title>
    <link th:href="@{/css/statistic.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/js/statistic.js}"></script>
</head>
<body>
<div class="content">
    <section class="bg-body h-100" layout:fragment="content_body">
        <div class="mr-5 ml-5 mt-4">
            <h1 class="font-weight-semibold">Tổng quan</h1>
            <div class="card mt-3 card-dashboard" style="flex-direction: row;">
                <div class="col-7 d-flex flex-column justify-content-center align-items-center pt-2 pb-2 pl-4">
                    <div class="w-100 h-50 d-flex flex-row justify-content-around align-items-center">
                        <div class="card m-0 box-shadow card-banner">
                            <div class="d-flex p-2 h-100">
                                <div class="card-banner-icon"
                                     style="  background-color: rgb(216,237,255) !important;">
                                    <i class="icon-clipboard2" style="color: #0a6ebd"></i>
                                </div>
                                <div class="pl-2 card-banner-content">
                                    <div class="card-banner-title">Tổng số lần chạy kịch bản</div>
                                    <h4 id="total_run_times" class="font-weight-semibold"
                                        style="position: absolute;bottom: 0;">0</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card m-0 box-shadow card-banner">
                            <div class="d-flex p-2 h-100">
                                <div class="card-banner-icon" style="  background-color: #ffe2dc !important;">
                                    <i class="text-danger icon-clipboard3"></i>
                                </div>
                                <div class="pl-2 card-banner-content">
                                    <div class="card-banner-title">Tổng số lần thất bại</div>
                                    <h4 id="total_fail_run_times" class="font-weight-semibold"
                                        style="position: absolute;bottom: 0;">0</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 h-50 d-flex flex-row justify-content-around align-items-center">
                        <div class="card m-0 box-shadow card-banner">
                            <div class="d-flex p-2 h-100">
                                <div class="card-banner-icon" style="  background-color: #e3ffd6 !important;">
                                    <i class="text-success icon-clipboard5"></i>
                                </div>
                                <div class="pl-2 card-banner-content">
                                    <div class="card-banner-title">Tổng số lần thành công</div>
                                    <h4 id="total_success_run_times" class="font-weight-semibold"
                                        style="position: absolute;bottom: 0;">0</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card m-0 box-shadow card-banner">
                            <div class="d-flex p-2 h-100">
                                <div class="card-banner-icon" style="  background-color: #e1fffc !important;">
                                    <i class="text-info icon-clipboard6"></i>
                                </div>
                                <div class="pl-2 card-banner-content">
                                    <div class="card-banner-title">Số lần chạy kịch bản trung bình 1 ngày</div>
                                    <h4 id="avg_run_times" class="font-weight-semibold"
                                        style="position: absolute;bottom: 0;">0</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5" style="bottom: 30px;text-align: center;">
                    <img src="./images/statistic.svg" width="320">
                </div>
            </div>
            <hr class="mt-4 mb-4">
            <div class="row">
                <div class="col-6">
                    <div>
                        <h4>Thống kê theo thời gian</h4>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex float-right align-items-center">
                        <input id="start_date_input" class="ml-2" type="date"
                               onchange="dateInputChange('start')">
                        <i class="ml-2 mr-2 icon-arrow-right5 text-grey"></i>
                        <input id="end_date_input" type="date"
                               onchange="dateInputChange('end')">
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-4">
                    <div class="card p-3" style="width: 97%; border-radius: 5px;">
                        <div>
                            <h6 class="m-0 text-grey">Biểu đồ thống kê số lần chạy theo kịch bản</h6>
                            <h4 id="total_script_run_in_time" class="font-weight-semibold m-0">0</h4>
                        </div>
                        <div id="pie_chart_1" style="height: 220px!important;">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card p-3" style="width: 97%; border-radius: 5px;">
                        <div>
                            <h6 class="m-0 text-grey">Biểu đồ thống kê tổng quan trạng thái</h6>
                            <h4 id="total_status_in_time" class="font-weight-semibold m-0">0</h4>
                        </div>
                        <div id="pie_chart_2" style="height: 220px!important;">
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card p-3" style="border-radius: 5px">
                        <div>
                            <h6 class="m-0 text-grey">Biểu đồ thống kê lỗi</h6>
                        </div>
                        <hr class="mt-1 mb-0" style="solid-color: #dddddd;">
                        <div id="fail_chart">
                            <!--                            <div>-->
                            <!--                                <div class="d-flex justify-content-between">-->
                            <!--                                    <span>Error 1</span>-->
                            <!--                                    <span>30000</span>-->
                            <!--                                </div>-->
                            <!--                                <div class="progress rounded-round" style=" height:0.4rem">-->
                            <!--                                    <div class="progress-bar bg-info" style="width: 50%;">-->
                            <!--                                        <span class="text-grey"></span>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12">
                    <div class="card w-100 p-3 float-left" style="border-radius: 5px">
                        <div>
                            <h6 class="m-0 text-grey">Biểu đồ thống kê chi tiết trạng thái theo kịch bản</h6>
                        </div>
                        <hr class="mt-1 mb-4" style="solid-color: #dddddd;">
                        <div id="column_chart" style="height: 400px!important;">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
</body>
</html>