<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link th:href="@{/global_assets/css/icons/icomoon/styles.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/global_assets/css/icons/fontawesome/styles.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/global_assets/css/icons/material/styles.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/bootstrap_limitless.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/layout.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/components.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/colors.min.css}" rel="stylesheet" type="text/css">

    <script th:src="@{/global_assets/js/main/jquery.min.js}"></script>
    <!--    <script th:src="@{/global_assets/js/main/bootstrap.min.js}"></script>-->
    <script th:src="@{/global_assets/js/main/bootstrap.confirm.min.js}"></script>
    <script th:src="@{/global_assets/js/plugins/loaders/blockui.min.js}"></script>
    <script th:src="@{/global_assets/js/plugins/ui/ripple.min.js}"></script>
    <!--    <script th:src="@{/global_assets/js/main/bootstrap.bundle.min.js}"></script>-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/global_assets/js/plugins/visualization/d3/d3.min.js}"></script>
    <script th:src="@{/global_assets/js/plugins/visualization/d3/d3_tooltip.js}"></script>
    <script th:src="@{/global_assets/js/plugins/forms/styling/switchery.min.js}"></script>
    <script th:src="@{/global_assets/js/plugins/ui/moment/moment.min.js}"></script>
    <script th:src="@{/global_assets/js/plugins/pickers/daterangepicker.js}"></script>
    <script th:src="@{/assets/js/app.js}"></script>
    <script th:src="@{/global_assets/js/demo_pages/dashboard.js}"></script>
    <script th:src="@{/global_assets/js/plugins/tables/datatables/datatables.min.js}"></script>
    <script th:src="@{/global_assets/js/plugins/forms/selects/select2.min.js}"></script>
    <script th:src="@{/global_assets/js/demo_pages/datatables_basic.js}"></script>
    <script th:src="@{/global_assets/js/plugins/uploaders/fileinput/plugins/purify.min.js}"></script>
    <script th:src="@{/global_assets/js/plugins/uploaders/fileinput/plugins/sortable.min.js}"></script>
    <script th:src="@{/global_assets/js/plugins/uploaders/fileinput/fileinput.min.js}"></script>
    <script th:src="@{/global_assets/js/demo_pages/uploader_bootstrap.js}"></script>
    <script th:src="@{/js/toast.js}"></script>

    <link th:href="@{/images/logoNewlife.png}" rel="shortcut icon">
    <link th:href="@{/css/template.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/toast.css}" rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.2.5/jquery.bootstrap-touchspin.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.2.5/jquery.bootstrap-touchspin.min.js"></script>

    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/material.js"></script>
    <script src="https://www.amcharts.com/lib/4/lang/de_DE.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/germanyLow.js"></script>
    <script src="https://www.amcharts.com/lib/4/maps.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

    <style>
        .font-size-18 {
            font-size: 18px !important;
        }
    </style>
</head>
<body class="sidebar-xs" data-gr-c-s-loaded="true">
<!--<body data-gr-c-s-loaded="true">-->
<div class="page-content">
    <div class="sidebar sidebar-light sidebar-main sidebar-expand-md" style="z-index: 101!important;">
        <div class="sidebar-content">
            <div class="card card-sidebar-mobile">
                <ul class="nav nav-sidebar" data-nav-type="accordion">
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="fas fa-circle text-center" style="font-size: 33px; color: #d5d5d5"></i>
                        </a>
                    </li>
                    <li class="nav-item mt-2">
                        <a th:href="@{/simbox}" class="nav-link">
                            <i class="fas fa-sim-card font-size-18 text-center"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/device}" class="nav-link">
                            <i class="fas fa-mobile-alt font-size-18 text-center"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/statistic}" class="nav-link">
                            <i class="fas fa-th-large font-size-18 text-center"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fas fa-info-circle font-size-18 text-center"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <header layout:fragment="header">
        </header>
        <section layout:fragment="content_body">
        </section>
        <div class="navbar navbar-expand-lg navbar-light" id="footer_template">
            <div class="text-center d-lg-none w-100">
                <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse"
                        data-target="#navbar-footer">
                    <i class="icon-unfold mr-2"></i>
                    Footer
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-footer">
                <span class="navbar-text">&copy; 2020. <a th:href="@{/dashboard}">NEWLIFE</a></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
